body {
  background-color: aliceblue;
}
h1 {
  color: mediumpurple;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}
p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
